<nav class="nav">
    <div class="logo">
        {{- $label_text := (site.Params.label.text | default site.Title) }}
        {{- if site.Title }}
        <a href="{{ "" | absLangURL }}" accesskey="h" title="{{ $label_text }}">
            {{- if site.Params.label.icon }}
            <img src="{{site.Params.label.icon | absURL}}" alt="" aria-label="logo" height="{{site.Params.label.iconHeight}}" width="{{site.Params.label.iconHeight}}">
            {{- end }}
            {{- $label_text -}}
        </a>
        {{- end }}
    </div>
    <ul id="menu" style="display: flex; align-items: center;">
        <!-- Regular menu items -->
        {{- range site.Menus.main }}
        <li>
            <a href="{{ .URL | absLangURL }}">
                <span>{{ .Name }}</span>
            </a>
        </li>
        {{- end }}
        
        <!-- Language switcher -->
        <li style="margin-left: auto;">
            {{ $pageLang := .Lang }}
            {{ if eq $pageLang "en" }}
                <a href="/es/" style="font-size: 0.9rem;">
                    Ver en Español
                </a>
            {{ else }}
                <a href="/" style="font-size: 0.9rem;">
                    View in English
                </a>
            {{ end }}
        </li>
    </ul>
</nav>